@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Geist';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist';
}

.banner-heading {
    background: #0086d1;
    padding: 5px;
    border-radius: 4px;
    width: 120px;
    text-align: center;
    margin: 15px 0px;
}
@keyframes text-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-text {
  background-size: 200% auto;
  animation: text-gradient 4s linear infinite alternate;
}
